<!DOCTYPE html>
<html>
<head>
	<title><%title%></title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
	<h2 class="todolist-title">Todolist</h2>
	<hr>

	<div class="add-todotask">
		<form class="add-task-form" action="" method="post" accept-charset="utf-8">
			<input type="text" name="task" placeholder="Task">
			<button type="submit">Add Task</button>
			
		</form>
	</div>

</body>
</html>